extends ../../layout

block action_bar 
    a(href= '/skin-instance/create') Add a new #{skinName} instance 

block content
    if skinInstancesList.length
        ul
            each skinInstance in skinInstancesList 
                li 
                    p= skinName
                    p #[strong Float:] #{skinInstance.float}
                    p #[strong Wear:] #{skinInstance.wear_condition}
                    p #[strong Price:] #{skinInstance.price}

    else
        p Empty list.